body {
    font-family: 'Baloo Bhaina 2', cursive;
}

header {
    margin: 0px;
    display: block;
}
#highscore-link {
    float: left;
}

#timer {
    float: right;
}

.container {
    clear: both;
    padding: 25px;
    text-align: center;
}
